{% extends "layout.html" %}
{% block body %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='crypto.css') }}">
<div class="container" id="message-container">
    <label style="color:white;">File Decryption</label>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group" style="margin-top:20px;width:600px">
            <input type="file"  class="form-control"  name="file"  placeholder= "Choose File to be Decrypted!..." required />
        </div>
        <div class="form-group" style="margin-top:20px;width:600px">
            <input class="form-control" type="text" name="key" placeholder="Input Key | Key Range ( 1 - 255)" required/>
        </div>

        <button   class="btn btn-primary" type="submit" style="margin-top:20px;">Decrypt</button>
    </form>
    <label style="color:white;">Remember your key ! Please note down somewhere and don't share to anyone!</label>
    <br/>
    <label style="color:white;">Enter Key Between 1 and 255 Inclusive!</label>
</div>
{% endblock %}